@{
    ViewData["Title"] = "Home Page";
}

<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: white;
        background-color: black;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        .button:hover {
            background-color: rosybrown;
        }

    .alert {
        color: white;  
        background-color: red;  
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
</style>

<div class="background-image">
    <h2 class="display-4" style="font-display:block">CONTRACT MONTHLY CLAIM SYSTEM</h2>
    <h1 class="text-center">@ViewBag.WelcomeMessage</h1>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <a href="/Account/LoginRegister" class="button">Go to Login Page</a>
</div>
